* {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    padding-bottom: 2vh;
}

img{
    max-width: 40vw;
}

.main {
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: rgb(255, 255, 255, .8);

    top: 0;
    left: 0;
    right: 0;

    display: inline-block;
    position: sticky;
}

.wallpaper {
    width: 100% !important;
    height: 100% !important;

    object-fit: cover;

    padding: 0;
    margin: 0;
}

.section {
    margin: 0 4vw 0 4vw;
}

.box {
    display: inline-block;
    padding: 0.5rem;

    border-radius: 5px;
    border-style: hidden;

    font-family: monospace;
    font-weight: 700;
    font-size: larger;

    background-color: rgba(0, 0, 0, 0.2);
}

[centered]{
    width: max-content;
}

@media screen and (max-width: 600px){
    img{
        max-width: 100%;
        width: 100%;
    }
}