* {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    padding-bottom: 2vh;
}

img{
    max-width: 22vw;
}

.main {
    width: 100vw;
    height: 10vh;

    margin: 0;
    padding: 0;

    top: 0;
    left: 0;
    right: 0;

    display: inline-block;
    text-align: center;
    position: sticky;
}

.wallpaper {
    width: 100%;
    height: 100%;

    object-fit: cover;

    padding: 0;
    margin: 0;
}

.section {
    margin: 0 4vw 0 4vw;
}

.box {
    display: inline-block;
    padding: 0.5rem;

    border-radius: 5px;
    border-style: hidden;

    font-family: monospace;
    font-weight: 700;
    font-size: larger;

    background-color: rgba(0, 0, 0, 0.2);
}

[centered]{
    width: max-content;
}