@media screen and (max-width: 1400px){
    #title {
        font-size: 4vw;
    }
}

@media screen and (max-width: 950px){
    #title {
        font-size: 5.5vw;
    }

    img{
        width: 100vw;
    }
}