h1{
    padding: 0;
    margin: 0;
}

p,li {
    font-weight: 500;
    font-size: large;
}

#title{

    padding: 2vh 4vw 2vh 4vw;

    font-size: 2vw;

}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.title {

    width: 100%;
    height: 100%;

    display: inline-block;

    margin: 4vh 0 4vh 0;
    padding: 0 4vw 0 4vw;

    border-left: solid rgba(0, 0, 0, .8);

    font-weight: 800;
    font-size: xx-large;

}

.subtitle {

    width: 100%;
    height: 100%;

    display: inline-block;

    margin: 1vh 0 1vh 0;
    padding: 0 2vw 0 0;

    font-weight: 500;
    font-size: xx-large;
    text-decoration: underline;
}

#index {
    margin: 0 4vw 0 4vw;

    font-weight: 500;
    font-size: large;
}

.item, .item>a {
    font-weight: 800;
    font-size: xx-large;

    color: rgba(0, 0, 0, .9);
    text-decoration: none;
}